<form action="/projects" method="post">
  <div class="form-group">
    <button type="submit" class="btn" id="projectButton"><input id="n" name="project_title" class="form-control" type="text" placeholder="Project Title" required><h3>Add Project</h3>
  </div>
</button>
</form>
<p><a href="/projects">Return to project list</a></p>
