<h1>Add a New Project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">project name</label>
    <input id="n" name="project_title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add project
</button>
</form>
