body {
  background-image: url('../images/hands.jpeg');
  font-family: 'Poppins', sans-serif;
}
.container {
  background-color:rgb(245, 245, 220, .9);
  background-image: url('../images/hands.jpeg');
  background-size: cover;
  margin: 5em;
  color: rgba(11, 30, 51, 0.781);
  text-align: center;
  padding: 1em;
  width: 80%;
  height: 100%;
}
#hands {
  width: 50%;
}
p {
  font-size: large;
}
/* .clickEdit {
  font-size: small;
} */
ul {
  list-style-type: none;
}
h1, h2, h3, p, ul {
  background-color: rgba(248, 248, 247, .75);
}