body {
  background-image: url('../images/hands.jpeg');
  font-family: 'Poppins', sans-serif;
}
.container {
  background-color:rgb(245, 245, 220, .9);
  background-image: url('../images/hands.jpeg');
  background-size: 200% 100%;
  margin: 5em;
  color: rgba(11, 30, 51, 0.781);
  text-align: center;
  padding: 3em;
  width: 800px;
  height: 600px;
}
#hands {
  width: 50%;
}
p {
  font-size: large;
}
ul {
  list-style-type: none;
}
h1, h2, h3, p, ul {
  background-color: rgba(248, 248, 247, .75);
}
#n {
  width: 100%
}
#projectButton {
  width: 100%;
  margin-top: 125px;
}
#volunteerButton {
  width: 100%;
}
#volunteerInput {
  width: 100%;
}