body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.container {
  background-color:rgb(245, 245, 220, .9);
  background-image: url('../images/hands.jpeg');
  background-size: cover;
  margin: 5em;
  color: black;
  text-align: center;
  padding: 1em;
}
#hands {
  width: 50%
}
p {
  font-size: large;
}

h1 {
  font-weight: bolder;
}
.clickEdit {
  font-size: small;
}
ul {
  list-style-type: none;
}